.headerWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.userImage {
  width: 36px;
  height: 36px;
  border-radius: 999px;
}



.username {
    font-weight: 500;
    color: var(--dark-blue);

}
.youIndicator {
    background-color: var(--moderate-blue);
    color: var(--white);
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 4px;
}

.actionButton {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

