.commentWrapper {
    display: flex;
    align-items:flex-start;
    gap: 24px;
    background-color: var(--white);
    border-radius: 8px;
    padding: 24px;
    width: 100%;
}

.commentContentArea {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

